{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Essen Store</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<!-- Navbar -->

<nav class="navbar">

    <div class="logo">
        ESSEN
    </div>

    <div class="search-box">
        <input type="text" placeholder="Search products...">
    </div>

    <div class="nav-links">

        {% if user.is_superuser %}
            <a href="{% url 'add_product' %}">
                Add Product
            </a>
        {% endif %}

        <a href="{% url 'orders' %}">
            Orders
        </a>

        <a href="{% url 'logout' %}">
            Logout
        </a>

    </div>
    <p>User: {{ user.username }}</p>
    <p>Superuser: {{ user.is_superuser }}</p>

</nav>

<!-- Hero Section -->

<section class="hero">

    <div class="hero-content">

        <h1>Fashion That Defines You</h1>

        <p>
            Discover the latest collection
            of premium clothing and accessories.
        </p>

        <button>
            Shop Now
        </button>

    </div>

</section>

<!-- Products -->

<section class="products-section">

    <h2>Trending Products</h2>

    <div class="products">

        {% for product in products %}

        <div class="card">

            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}

            <div class="card-body">

                <h3>{{ product.name }}</h3>

                <p>{{ product.description|truncatechars:60 }}</p>

                <h4>₹{{ product.price }}</h4>

                <div class="buttons">

                    <a href="{% url 'checkout' product.id %}"
                        class="buy-btn">
                        Buy Now
                    </a>

                    {% if user.is_superuser %}
                    <a href="{% url 'delete' product.id %}"
                        class="delete-btn">
                        Delete
                    </a>
                    {% endif %}

                </div>

            </div>

        </div>

        {% endfor %}

    </div>
    <footer class="footer">
        <h3>ESSEN</h3>
        <p>Your Fashion Destination</p>
    </footer>

</section>

</body>
</html>